body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    overflow-x: hidden;
    color: white;
  }
  
  .login-container {
    max-width: 400px;
    margin: 50px auto;
    margin-top: 200px;
    padding: 20px;
    background: none;
    color: white;
    border-radius: 8px;
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    text-align: center;
  }
  
  .logo img {
    height: 30px;
    margin-bottom: 20px;
    
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    background-color: darkmagenta;
    color: white;
  }
  
  .btn-primary {
    background-color:darkmagenta;
    color: #fff;
  }
  
  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .schedule {
    margin-top: 20px;
    font-size: 14px;
    color: #666;
  }
  